<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<h1>ジャンル編集画面</h1>

			<%= form_for(@genre) do |f| %>
				<div class="field">
					<h4>ジャンル名</h4>
					<%= f.text_field :genre_name, class: "genre_name" %>
				</div>

				<div class="actions">
					<%= f.submit "変更する",  class: "btn btn-default" %>
				</div>
			<% end %>
		</div>
	</div>
</div>