<div class="jumbotron">
	<h1 class="text-center">All Users</h1>
</div>

<div class="container">

	<div class="row">
		<% @users.each do |user| %>
			<div class="col-md-4">
				<div class="media">
					<div class="pull-left"><%= attachment_image_tag user, :profile_image, :fill, 90, 100, fallback: "no_image.jpg", class: "img-circle" %></div>
					<div class="media-body">
						<h4 class="media-heading"><%=link_to "名前：#{user.name}", user %></h4>
						<p>自己紹介<br><%= user.introduction %></p>
					</div>
				</div>
			</div>
		<% end %>
		<%= paginate @users, class: "pagination" %>
	</div>
</div>
