<div class="container">
	<h1>ユーザー一覧</h1>

	<div class="row">
		<% @users.each do |user| %>
			<div class="col-md-4 user_index">
				<div class="media">
					<div class="media-left">
						<%= attachment_image_tag user, :profile_image, :fill, 90, 100, fallback: "no_image.jpg", class: "img-circle" %>
					</div>
					<div class="media-body">
						<h4 class="media-heading text-center"><%=link_to "#{user.name}", user %></h4>
						<p><%= user.introduction %></p>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
