<div class="container">
  <div class="main-visual">
    <div class="main-visual-content">
        <h1 class="main-visual-name">
            I'LL BE ..
        </h1>
        <p class="main-visual-text">
            世界中の億万長者たちも運動をし、食事に気を使っています<br>
            また人生100年時代と言われていますので、健康な肉体の維持は<br>
            さらに重要になると思われます<br>
            あなたは病気で苦しむ老後がいいですか？健康で楽しい老後がいいですか？？
        </p>
        <p><%= link_to "新規登録", new_user_registration_path, class: "btn btn-default  col-xs-2 col-xs-offset-5" %></p>
    </div>
  </div>

  <div class="row marketing">
    <h2 class="text-center">運動習慣と食生活を改善するメリット </h2>
    <div class="col-lg-6">
      <h3>◉自分に自信がつく</h3>
      <p>自分の努力量に比例して体がどんどん変わっていくため、努力すれば変われると自信がつきます。</p>

      <h3>◉食事を気遣うようになり健康になる</h3>
      <p>自然と体に悪いような食品を避けるようになり、野菜や魚などの体にいいものを口にする機会が増えます。</p>

      <h3>◉睡眠の質が向上する</h3>
      <p>トレーニングすることで、夜ぐっすりと眠れるようになります。</p>
    </div>

    <div class="col-lg-6">
      <h3>◉体力がつく</h3>
      <p>どんなことも最終的には体力勝負。体力はいっぱいあるに越したことはないです。</p>

      <h3>◉ストレス発散</h3>
      <p>運動をして疲労することで、それまでに悩んでいたことが結講どうでも良くなります。</p>

      <h3>◉異性にモテる</h3>
      <p>運動が習慣いなることで、体はどんどん引き締まっていきます。だらしない体の人より、引き締まった体の人の方がいいですよね？</p>
    </div>
  </div>
</div>