<div class="inner cover">
    <div class="cover-content">
        <h1 class="cover-heading">
            I'LL BE ..
        </h1>
        <p class="lead">
            運動を始めたい、ダイエットしたいけどできない<br>
            そういう方達が挫折しないようサポートするサイトです！<br>
            みんなでいい体を目指しましょう！！
        </p>
        <p>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-default col-xs-4 col-xs-offset-4" %><br>
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-default  col-xs-4 col-xs-offset-4" %>
        </p>
    </div>
</div>
