<div class="main-visual">
    <div class="main-visual-content">
        <h1 class="main-visual-name">
            I'LL BE ..
        </h1>
        <p class="main-visual-text">
            Ingredients and the techniques of preparation are important in cooking,<br>
            but if you don't put your heart into it,<br>
            there's no way you can make something delicious.
        </p>
    </div>
</div>
<div class="container">
	<%= link_to "login", new_user_session_path %>
	<%= link_to "signup", new_user_registration_path %>
</div>