<div class="main-visual">
    <div class="main-visual-content">
        <h1 class="main-visual-name">
            I'LL BE ..
        </h1>
        <p class="main-visual-text">
            Ingredients and the techniques of preparation are important in cooking,<br>
            but if you don't put your heart into it,<br>
            there's no way you can make something delicious.
        </p>
        <p><%= link_to "ログイン", new_user_session_path, class: "btn btn-primary col-xs-4 col-xs-offset-4" %></p>
        <p><%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary  col-xs-4 col-xs-offset-4" %></p>
    </div>
</div>
