<% if @post.favorited_by?(current_user) %>
  <%= link_to post_favorites_path(@post), method: :delete, remote: true do %>
    <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
    <span style="color: red;"><%= @post.favorites.count %></span>
  <% end %>
<% else %>
  <%= link_to post_favorites_path(@post), method: :post, remote: true do %>
    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    <%= @post.favorites.count %>
  <% end %>
<% end %>