/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import 'font-awesome-sprockets';
@import 'font-awesome';

@font-face {
  font-family: 'tappitsu';
  src: font-url('g_brushtappitsu_freeR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

header {
	color: white;
	background-color: #ba2636;
}


body {
	margin-top: 40px;
	background: image-url('background.jpg');
	color: black;
	font-family: "Sawarabi Mincho";;
	margin-bottom: 150px;
	margin-bottom: 50px;
}

.actions {
	margin-top:10px;
}

h1 {
	color: white;
}

h2{
	color: white;
}

h3{
	color: white;
}

h4{
	color: white;
}

p{
	color: white;
}

li{
	color: white;
}

table{
	color: white;
}


.row {
	margin-bottom: 30px;
}

.navbar-fixed-bottom{
	background-color: #ba2636;
}

.img-circle {
	border: solid 2px white;
}

.navbar-header h3 {
	color: #fbca4d;
	font-family: tappitsu;
}

.jumbotron {
	background: image-url('jumbo.jpg');
	background-size: cover;
	background-position: center;
}

.jumbotron h1 {
	font-family: tappitsu;
}

